@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Reddit+Mono:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

body {
  margin: 0;
  padding: 0;
  background: #f6f4eb;
}

.logo h1 {
  padding-left: 20px;
  color: #071952;
  font-family: "Lobster", sans-serif;
  font-size: 900;
}
.illustration img {
  width: 100%;
  height: 100%;
}

.about-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px;
}

.about {
  padding-left: 20px;
  font-family: "Patrick Hand", cursive;
}

.about p {
  font-weight: 400;
}

.section-heading {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.section-heading h1 {
  display: inline-block;
  position: relative;
  font-size: 24px;
}

.star {
  color: orange;
  font-size: 30px;
  vertical-align: middle;
}

.star::before {
  content: "*";
}

.star::after {
  content: "*";
}

.section-heading h1::before,
.section-heading h1::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 50px;
  height: 1px;
  background-color: orangered;
}

.section-heading h1::before {
  right: 100%;
  margin-right: 20px;
}

.section-heading h1::after {
  left: 100%;
  margin-left: 20px;
}
.learn-section {
  font-family: "Lobster", sans-serif;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.062);
}

.week-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffffff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.week-button:hover {
  width: 80px;
  height: 40px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: white;
  align-items: center;
}

.week-button::before {
  position: absolute;
  top: -20px;
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.week-button:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: 0.3s;
}

.week-list {
  display: none;
}

.week-list.show {
  display: block;
  width: 80%;
  height: 100%;
  background: #00224d;
  color: white;
  margin-left: 20px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  gap: 20px;
}

.week-list li {
  list-style: none;
  padding: 2px;
}

.flex-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}
.week {
  background-color: #efbc9b;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {

  body {
    padding: 0;
    margin: 0;
    width: 100dvw;
  }
  .about-section {
    display: grid;
    grid-template-columns: 1fr;
  }

  .illustration {
    width: 100dvw;
    display: block;
    margin: 0;
    padding: 20px;
  }

  .illustration img {
    width: 100%;
  }
  .learn-section {
    width: 100dvw;
  }

  .section-heading h1::before,
  .section-heading h1::after {
    top: 45%;
    width: 50px;
    height: 2px;
  }
}
